APP_NAME=Product Management System
DEBUG=False

DATABASE_URL=your database_url
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=5
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800

SESSION_EXPIRE_DAYS=7
REMEMBER_ME_EXPIRE_DAYS = 30

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=your_google_redirect_url

MICROSOFT_CLIENT_ID=your_microsoft_client_id
MICROSOFT_CLIENT_SECRET=your_microsoft_client_secret
MICROSOFT_REDIRECT_URI=your_microsoft_redirect_url
MICROSOFT_TENANT_ID=your_microsoft_tenant_id

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_REDIRECT_URI=your_github_redirect_url


REDIS_HOST=your_redis_hostname
REDIS_PORT=your_redis_port
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password

OAUTH_STATE_EXPIRE_SECONDS=600

AWS_ACCESS_KEY_ID=your_aws_secret_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-your_aws_region
S3_BUCKET_NAME=your_aws_s3_bucket_name


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your@gmail.com
SMTP_FROM_NAME=app name
SMTP_START_TLS=true

PASSCODE_PEPPER=your-random-secret
REFRESH_TOKEN_PEPPER=your-random-secret

PASSCODE_EXPIRE_SECONDS=300
PASSCODE_LENGTH=6
PASSCODE_MAX_ATTEMPTS=3

PASSCODE_REQUEST_EMAIL_LIMIT=3
PASSCODE_REQUEST_IP_LIMIT=10
PASSCODE_REQUEST_WINDOW_SECONDS=900

PRODUCT_CACHE_TTL = 300
PRODUCT_LIST_CACHE_TTL = 60
CATEGORY_CACHE_TTL = 3600


CORS_ORIGINS=frontend_url/

YOUR_REACT_URL=frontend_callback_url
